body{
    background-color: rgb(40, 40, 40);
    color: #E5E6E0;
    padding: 5rem;
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 600px) {
    body {
        padding: 1rem;
    }
}
/* font sizes */
.text-small{
    font-size: 0.8rem;
    line-height: 1.25rem;
}
.text-normal{
    font-size: 1rem;
    line-height: 1.75rem;
}
.text-heading1{
    font-size: 1.25rem;
    line-height: 2.25rem;
}
.text-heading2{
    font-size: 1.563rem;
    line-height: 2.75rem;
}
.text-title1{
    font-size: 1.953rem;
    line-height: 3.25rem;
}
.text-title2{
    font-size: 2.441rem;
    line-height: 3.75rem;
}
.text-title3{
    font-size: 3.052rem;
    line-height: 4.25rem;
}
.text-title4{
    font-size: 3.815rem;
    line-height: 4.75rem;
}
.text-title5{
    font-size: 4.768rem;
    line-height: 5.25rem;
}


/* note to self */
/* from normal's line height, i converted it to px and then added/subtrated 8px from it. Then converted back to rem */


/* from https://typescale.com/ */
/* 3.052rem/48.83px	A Visual Type Scale
2.441rem/39.06px	A Visual Type Scale
1.953rem/31.25px	A Visual Type Scale
1.563rem/25.00px	A Visual Type Scale
1.25rem/20.00px	A Visual Type Scale
1rem/16.00px	A Visual Type Scale
0.8rem/12.80px	A Visual Type Scale
0.64rem/10.24px	A Visual Type Scale
0.512rem/8.19px	A Visual Type Scale */
